Repository IndranilJ/simple-api-application: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/app-cicd.yml, azure-pipelines/infra-cicd.yml

azure-pipelines/app-cicd.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: DownloadSecureFile@1
    name: gcpKey
    inputs:
      secureFile: gcp-sa-key.json
  - script: 'echo "Install gcloud and auth"
  
      curl -sSL https://sdk.cloud.google.com | bash
  
      source "$HOME/google-cloud-sdk/path.bash.inc"
  
  ...

azure-pipelines/infra-cicd.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: DownloadSecureFile@1
    name: gcpKey
    inputs:
      secureFile: gcp-sa-key.json
  - script: 'sudo apt-get update && sudo apt-get install -y jq
  
      echo "Setting up gcloud..."
  
      curl -sSL https://sdk.cloud.google.com | bash
  
  ...

destroyed resources
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
Due: azure-pipelines/infra-cicd.yml

destroyed resources
  .gitignore
Due: none

added testcases
  api/requirements.txt
Due: azure-pipelines/app-cicd.yml

adding testcases
  api/.coveragerc
  api/TESTING.md
  api/pytest.ini
  api/tests/__init__.py
  api/tests/conftest.py
  api/tests/test_main.py
Due: azure-pipelines/app-cicd.yml

changes
  Jenkinsfile
  api/.coverage
  api/coverage.lcov
  api/coverage.xml
  api/pytest.ini
Due: azure-pipelines/app-cicd.yml

changes
  .gitignore
Due: none

changes
  api/coverage.lcov
  api/coverage.xml
Due: azure-pipelines/app-cicd.yml

changes
  api/.coverage
Due: azure-pipelines/app-cicd.yml

changes
  Jenkinsfile
Due: none

update
  Jenkinsfile
  api/app/main.py
  terraform/terraform.tfstate
  terraform/terraform.tfstate.backup
Due: azure-pipelines/app-cicd.yml, azure-pipelines/infra-cicd.yml

feat: implement initial full-stack notes application with FastAPI, React, and Celery.
  api/app/api/__init__.py
  api/app/api/notes.py
  api/app/celery_app.py
  api/app/db.py
  api/app/main.py
  api/app/models/__init__.py
  api/app/models/note.py
  api/app/services/__init__.py
  api/app/services/note_service.py
  api/app/tasks.py
  api/requirements.txt
  api/synapse.db
  api/test_api.py
  docker-compose.yml
  ui/.gitignore
  ui/README.md
  ui/eslint.config.js
  ui/index.html
  ui/package-lock.json
  ui/package.json
  ui/public/vite.svg
  ui/src/App.css
  ui/src/App.jsx
  ui/src/assets/react.svg
  ui/src/index.css
  ui/src/main.jsx
  ui/vite.config.js
Due: azure-pipelines/app-cicd.yml

feat: Implement initial full-stack application with FastAPI backend, React frontend, and Docker Compose orchestration for services including Postgres, Redis, and Celery.
  .env.example
  api/.coveragerc
  api/Dockerfile
  api/app/api/auth.py
  api/app/api/notes.py
  api/app/api/tags.py
  api/app/auth/__init__.py
  api/app/auth/dependencies.py
  api/app/auth/jwt.py
  api/app/auth/password.py
  api/app/celery_app.py
  api/app/db.py
  api/app/main.py
  api/app/models/__init__.py
  api/app/models/links.py
  api/app/models/note.py
  api/app/models/tag.py
  api/app/models/user.py
  api/app/services/note_service.py
  api/app/tasks.py
  api/pytest.ini
  api/requirements.txt
  api/scripts/populate_db.py
  api/scripts/reinit_db.py
  api/scripts/test_api.py
  api/scripts/verify_backend_tags.py
  api/synapse.db
  api/tests/__init__.py
  api/tests/conftest.py
  api/tests/test_main.py
  docker-compose.yml
  ui/.dockerignore
  ui/Dockerfile
  ui/nginx.conf
  ui/src/App.css
  ui/src/App.jsx
  ui/src/index.css
  ui/vite.config.js
Due: azure-pipelines/app-cicd.yml

updated ui for login,signup
  ui/package-lock.json
  ui/package.json
  ui/src/App.jsx
  ui/src/components/Navbar.css
  ui/src/components/Navbar.jsx
  ui/src/components/ProtectedRoute.jsx
  ui/src/contexts/AuthContext.jsx
  ui/src/pages/Auth.css
  ui/src/pages/Landing.css
  ui/src/pages/Landing.jsx
  ui/src/pages/Login.jsx
  ui/src/pages/Notes.jsx
  ui/src/pages/Register.jsx
  ui/src/services/api.js
  ui/src/services/authService.js
Due: none

fixed themes
  ui/src/App.jsx
  ui/src/components/Navbar.css
  ui/src/components/Navbar.jsx
  ui/src/components/ThemeToggle.css
  ui/src/components/ThemeToggle.jsx
  ui/src/contexts/ThemeContext.jsx
  ui/src/pages/Auth.css
  ui/src/pages/Landing.css
  ui/src/services/api.js
Due: none

fixed ui
  api/scripts/clear_db.py
  api/scripts/view_db_docker.py
  ui/nginx.conf
  ui/src/pages/Notes.jsx
Due: azure-pipelines/app-cicd.yml

cleanup
  api/TESTING.md
  api/synapse.db
Due: azure-pipelines/app-cicd.yml

added token blacklist on logout
  api/app/api/auth.py
  api/app/auth/dependencies.py
  api/app/auth/redis_client.py
  api/scripts/view_db_data.py
  api/scripts/view_db_docker.py
Due: azure-pipelines/app-cicd.yml

gcp deployment enablement
  api/app/main.py
  api/app/tasks.py
  api/run_worker.py
  deployment/gcp-architecture.md
  deployment/gcp-runbook.md
  ui/Dockerfile
Due: azure-pipelines/app-cicd.yml

Path conditions:
  azure-pipelines/app-cicd.yml: any of: api, Dockerfile
  azure-pipelines/infra-cicd.yml: any of: terraform
